  /* * {
    box-sizing: border-box;
  }
  
  .flex-item-unten-left {
    padding-left: 20px;
    flex: 50%;
    text-align: left;
  }
  
  .flex-item-unten-right {
    padding-right: 20px;
    flex: 50%;
    text-align: right;
  }
  
  @media (max-width: 800px) {
    .flex-item-right, .flex-item-left {
      flex: 100%;
    }
  }
  
  table {
      width: 80%;
      background-color: rgb(222, 228, 236);
      border: 1px solid black;
      justify-content: center;
      padding-left: 100px;
      box-shadow: none;
    }
    
    .mat-form-field {
      font-size: 14px;
      width: 80%;
    }

  
  h1 {
    font-family: Georgia;
    font-size: 33px;
    padding-bottom: 20px;
    text-align: center;
    background-color: rgb(222, 228, 236);
    color: black;
  }
  
  
  .allgemein{
      padding-top: 30px;
      padding-left: 10px;
      padding-right: 10px;
      background-color: rgb(222, 228, 236);
      width: 100%;
      display: flex;
      flex-direction: column;
      text-align: center;
      align-content: center;
      align-items: center;
      justify-content: center;
      padding-bottom: 30px;
  }

  
  .mat-form-field{
    text-align: center;
    width: 130px;
    font-size: 15px;
  }
  
  .mat-label{
    text-align: right;
  }
  
  table{
    padding-left: 50px;
    min-width: 150px;
    max-width: 800px;
    width: 100%;
    text-align: left;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    border-left:none;
    border-right: none;
    border-top: none;
  }

  button{
    font-family: Georgia;
    font-size: 16px;
    text-align: left;
    padding: 10px;
  }

  #picture3{
    width: 80px;
    height: 80px;
}

.picture{
  padding: 5px;
  padding-top: 20px;
  padding-bottom: 20px;
  max-width: 70px;
  max-height: 70px;
}

.produktname{
  padding-left: 20px;
  min-width: 200px;
  max-width: 200px;
}

.preis{
  padding-left: 20px;
  min-width: 40px;
  max-width: 200px;
}

#buttonlinks{
  margin-left: 20px;
}

#buttonrechts{
  margin-left: 20px;
} */

* {
  box-sizing: border-box;
}

.flex-item-unten-left {
  padding: 20px;
  /* padding-left: 20px; */
  flex: 50%;
  text-align: left;
}

.flex-item-unten-right {
  padding-right: 20px;
  flex: 25%;
  text-align: right;
}

@media (max-width: 800px) {
  .flex-item-right, .flex-item-left {
    flex: 100%;
  }
}

table {
    width: 80%;
    background-color: rgb(222, 228, 236);
    border: 1px solid black;
    justify-content: center;
    box-shadow: none;
    padding-left: 50px;
    min-width: 150px;
    max-width: 800px;
    text-align: left;
    flex-direction: column;
    align-content: center;
    border-left:none;
    border-right: none;
    border-top: none;
  }


h1 {
  font-family: Georgia;
  font-size: 33px;
  padding-bottom: 20px;
  text-align: center;
  background-color: rgb(222, 228, 236);
  color: black;
}


.allgemein{
    padding-top: 30px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgb(222, 228, 236);
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-content: center;
    align-items: center;
    justify-content: center;
    padding-bottom: 30px; 
}


.mat-form-field{
  text-align: center;
  min-width: 230px;
  max-width: 900px;
  width: 80%;
  font-size: 14px;
}

.mat-label{
  text-align: right;
}

button{
  font-family: Georgia;
  font-size: 18px;
  text-align: left;
  padding: 0;
}

#picture3{
  width: 80px;
  height: 80px;
}

.picture{
padding: 5px;
padding-top: 20px;
padding-bottom: 20px;
max-width: 70px;
max-height: 70px;
}
.produktname{
padding-left: 25px;
min-width: 135px;
max-width: 135px;
font-size: 18px;
}

.preis{
padding-left: 25px;
min-width: 20px;
max-width: 20px;
font-size: 18px;
}

#buttonlinks{
margin-left: 15px;
padding: 10px;
}

#buttonrechts{
margin-left: 15px;
padding: 10px;
}

#zueruck{
  font-size: 18px;
  font-family: Georgia;
  padding: 10px;
  padding-top: 0px;
  margin-left: 280px;
  margin-bottom: 20px;
}