<!DOCTYPE html>
<html lang="de" class="notranslate" translate="no">    
<head>
<meta charset="utf-8">
<meta name="viewport" 
      content="width=device-width, 
               initial-scale=1">
</head>
<body>
  <div class="allgemein">
  <div class="Überschrift">
     <h1>Versandinformationen</h1> 
  </div>
  <mat-card class="example-card" fxLayoutAlign="center center">
    <mat-card-content>
    <h2>Allgemeine Versandinformationen</h2>
  <p>In der folgenden Tabelle findest du Versandoptionen, Versandkosten und Lieferzeiten.</p>
  <h4>Versandoptionen</h4>
    <table id="coll">
      <tbody>
        <tr>
          <th>Lieferoptionen</th>
          <th>Kosten</th>
          <th>Lieferzeiten - Vorrätige Artikel</th>
        </tr>
        <tr>
          <td>DHL-Standardversand</td>
          <td>5,00 €</td>
          <td>1 - 3 Werktage</td>
        </tr>
      </tbody>
    </table>
  <h4>Die Lieferzeiten bei nicht vorrätigen Artikeln betragen:</h4>
  <p>bis ca. 14 Werktage</p>
  <h4>Länder, in die wir versenden</h4>
  <p>Deutschland</p>
  <p>Auf Anfrage ist der Versand in andere Länder möglich.</p>
</mat-card-content>
</mat-card>
</div>
  </body>
  </html>